#titulo {
  font-size: 50px;
  font-weight: bold;
  color: rgb(227, 227, 227);
}

.fundo {
  background-image: url(../../../assets/images/tabuleiro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.tabuleiro {
  flex-wrap: wrap;
}

.cartas{
  background-repeat: no-repeat;
  background-size: 140% 100%;
  background-position: center center;

  font-weight: bold;

  border-style: solid;
  transform: scale(1);
  transition: 150ms linear;
}

.cartasEmMaos{
  flex-wrap: wrap;
}

p {
  background: rgb(0, 0, 0, 0.75);
  border-radius: 5px;
  text-align: center;
  color: white;
}

.cartas:hover{
  transform: scale(1.04);
  transition: 150ms linear;
}

#arena{
  min-height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#vs{
  max-width: 100px;
  max-height: 100px;
  padding-top: 170px;
}

.fight{
  display: flex;
  flex-direction: column;
}
