<div class="fundo" fxLayout="row" fxFlex>
  <div fxFlex></div>

  <div fxFlex="95%" fxLayout="column">
    <div fxFlex></div>

    <div fxLayout="column" fxFlex="95%" style="border-color: red; border-style: solid;">
      <div fxFlex="65%"></div>
      <div fxFlex="30%" fxLayout="row" class="cartasEmMaos" style="justify-content: center;">
        <mat-card *ngFor="let hero of herois let i = index" class="cartas" style="background-image: url('../../../../assets/{{herois[i].imagem}}');">
          <div fxLayout="column" fxFlex>
              <p>
                {{herois[i].nome}}
              </p>

            <div fxFlex></div>

            <div style="text-align: center;">
              <!-- <p>Tipo: {{herois[i].atributo}}</p>
              <p>Ataque: {{herois[i].ataque}}</p>
              <p>Defesa: {{herois[i].defesa}}</p> -->
              <button mat-raised-button color="primary" (click)="choose(herois[i].nome, i, herois[i])">Escolher</button>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex></div>
    </div>
    <div fxFlex></div>
  </div>

  <div fxFlex></div>
</div>

